@mixin full {
    width: 100%;
    height: 100%;
}

@mixin textoCentrado{
    text-align: center;
}

@mixin ElementoCentrado{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin imagenMenu {
    width: 100%;
    height: 30em;
    border-radius: $bordeRedondeado;
    z-index: -1;

}

@mixin imagenLayout {
    grid-column: span 12;
    img{
        width: 100%;
    }
}
