//Colores 
$colorFondo : #FFD9AB;
$colorletra : #000000;
$colorSubtitulo : #5E0B15;
$colorTitulo : #4F1600;

//Fuentes
$parrafo : 16px;
$subtitulo : 20px;
$titulo : 48px;

//Margenes
$margenAlargado : 10px 15px;
$margenGrande : 20px 30px;

$margenSuperior : 30px;
$margenSuperiorGrande : 90px;

//Bordes
$bordeRedondeado : 4px;

