@import "./modules/variables";
@import "./modules/mixins";
@font-face {
    font-family: "Ringbeard";
    src: url(/public/fonts/RINGBEAR.TTF);
}

body {
    margin: 0px;
    background-color: $colorFondo;
    font-family: "Ringbeard";
}

section{
    margin: 0px;
}

h2 {
    @include ElementoCentrado;
    color: $colorTitulo;
    font-size: $subtitulo;
}

img {
    max-width: 100%;
}


.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.imagenSuperior{
    @include imagenLayout;
}

.imagenInferior{
    @include imagenLayout;
}

.social{
    margin-top: $margenSuperiorGrande;
    @include ElementoCentrado;
    grid-column: span 12;

    a{
        margin-right: 1em;
        font-size: $subtitulo;

        &:last-of-type{
            margin: 0px;
        }
    }
}

.container {
    grid-column: span 12;
}

.full-height{
    min-height: 100vh;
}

.grid-main-area {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-template-columns: repeat(9, 1fr);
    .logo {
        grid-column: span 9;
    }

    .menuBatalla {
        grid-column: span 9;
        margin: 5px;
        img {
            @include imagenMenu;
        }
    }
    .menuViaje {
        grid-column: span 9;
        margin: 5px;
        img {
            @include imagenMenu;
        }
    }
    .menuFase {
        grid-column: span 9;
        margin: 5px;
        img {
            @include imagenMenu;
        }
    }
}

@media (min-width: 960px) {
    .container {    
        grid-column: 2/12;
    }
    .imagenSuperior{
        height: 150px;
        img{
            max-height: 100%;
        }
    }

    .imagenInferior{
        height: 100px;
        img{
            max-height: 100%;
        }
    }



    .grid-main-area {
        display: grid;
        grid-column-start: 2;
        grid-column-end: 12;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            ". . logo logo logo logo logo . ."
            "menuBatalla menuBatalla menuBatalla menuViaje menuViaje menuViaje menuFase menuFase menuFase";

        .logo {
            grid-area: logo;
            @include ElementoCentrado;
        }

        .menuBatalla {
            grid-area: menuBatalla;
            margin: 5px;
            img {
                @include imagenMenu;
            }
        }
        .menuViaje {
            grid-area: menuViaje;
            margin: 5px;
            img {
                @include imagenMenu;
            }
        }
        .menuFase {
            grid-area: menuFase;
            margin: 5px;
            img {
                @include imagenMenu;
            }
        }
    }
}